Web Engineering/Practica2_film_service/clienteWeb/src/conf/xml-resources/web-service-references/filmService/wsdl/localhost_8080/peliculasServer-war/filmService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="buscarPeliculaById" type="tns:buscarPeliculaById"/>

<xs:element name="buscarPeliculaByIdResponse" type="tns:buscarPeliculaByIdResponse"/>

<xs:element name="film" type="tns:film"/>

<xs:element name="language" type="tns:language"/>

<xs:element name="listarPeliculas" type="tns:listarPeliculas"/>

<xs:element name="listarPeliculasResponse" type="tns:listarPeliculasResponse"/>

<xs:complexType name="listarPeliculas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPeliculasResponse">
<xs:sequence>
<xs:element name="return" type="tns:film" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="film">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="filmId" type="xs:short" minOccurs="0"/>
<xs:element name="languageId" type="tns:language" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="length" type="xs:short" minOccurs="0"/>
<xs:element name="originalLanguageId" type="tns:language" minOccurs="0"/>
<xs:element name="rating" type="xs:string" minOccurs="0"/>
<xs:element name="releaseYear" type="xs:dateTime" minOccurs="0"/>
<xs:element name="rentalDuration" type="xs:short"/>
<xs:element name="rentalRate" type="xs:decimal" minOccurs="0"/>
<xs:element name="replacementCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="specialFeatures" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="language">
<xs:sequence>
<xs:element name="languageId" type="xs:short" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPeliculaById">
<xs:sequence>
<xs:element name="id" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPeliculaByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:film" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>